/* CHAT */
/*
- CHAT
- WALL-E CHAT
*/

// CHAT

.chat {
  //.chat__container
  &__container {
    position: relative;
    background: $wall-e-yellow;
    border-radius: .4em;
    margin: 0 auto;
    max-width: 100vw;
    @include breakpoint($tablet) {
      width: 75vw;
    }
    @include breakpoint($desktop) {
      width: 50vw;
    }
    //.chat__container:after;
    &:after {
      border: 20px solid transparent;
      border-bottom-color: $wall-e-yellow;
      border-top: 0;
      border-left: 0;
      content: '';
      height: 0;
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      margin-left: -10px;
      margin-top: -20px;
    }
  }
  //.chat__box
  &__box {
    display: flex;
  }
  //.chat__input
  &__input {
    box-sizing: border-box;
    background: $wall-e-yellow;
    border-bottom: 3px solid $wall-e-yellow-dirty;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 1.5rem;
    padding: 1rem 0;
    margin: 1.5rem 4rem;
    width: 100%;
    &::placeholder {
      font-style: italic;
    }
  }
  //.chat__button
  &__button {
    background: $wall-e-yellow-dirty;
    border: 0;
    color: $space-white;
    font-size: 1.5rem;
    font-weight: 300;
    min-width: 8rem;
    padding: 1rem; 
  }
}

.wall-e-chat{
  font-size: 1.5rem;
  text-align: center;
  //.chat__container
  &__container {
    position: relative;
    border-radius: .4em;
    margin: 0 auto;
    background: $space-white;
    max-width: 90vw;
    @include breakpoint($tablet) {
      width: 50vw;
    }
    @include breakpoint($desktop) {
      width: 40vw;
    }
    //.chat__container:after
    &:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: $space-white;
	border-bottom: 0;
	margin-left: -10px;
	margin-bottom: -10px;
      margin-top: 0;
      top: auto;
    }
  }
  &__text {
    padding: 1rem;
  }
}
